:root {
    --primary-color: #dfecdf;
    --secondary-color: #010f01;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);

    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 12px;
    border-bottom: 3px solid var(--accent1-color);
}

header img {
    max-height: 110px;
    margin-right: 16px;
    margin-left: 100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #ffffff;
}

.hero article img {
    float: right;
    width: 125px;
}

.hero article {
    position: absolute;
    bottom: 1px;
    left: 20px;
    background-color: rgba(38, 70, 83, 0.7);
    color: #ffffffee;
    padding: 12px;
    max-width: 70%;
    border-radius: 12px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

nav a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
    transition: color 0.3s ease;
}

section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 16px;
    background-color: var(--primary-color);
    border-radius: 8px;
    margin-bottom: 20px;
}

section h2 {
    text-align: center;
}

.history {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.history h2 {
    grid-column: 1 / 4;
    text-align: center;
    margin-bottom: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: var(--primary-color);

    position: relative;
}

.socialmedia {
    display: flex;
    gap: 15px;
    position: absolute;
    right: 10px;
}

.socialmedia img {
    width: 40px;
    height: auto;
}

.adventures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    padding: 16px;
    text-align: center;
}

.adventures h2 {
    grid-column: 1/-1;
    margin-bottom: 20px;
}

.adventures figure {
    margin: 0;
}

.adventures img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 2px solid var(--accent1-color);
}

.adventures figcaption {
    margin-top: 8px;
    font-weight: bold;
    color: var(--secondary-color);
}

/* //////NEW PAGE DESIGN CODE / Contact Us WEBPAGE CODE////// */

/* CONTACT INFO SECTION */

.contact-info {
    text-align: center;
    margin-bottom: 12px;
}

.contact-info p {
    text-align: center;
    margin: 4px 0;
}

.contact-info h1 {
    text-align: center;
    margin-bottom: 10px;
    background: none;
    color: var(--secondary-color);
    position: static;
    padding: 1px;
}

/* FORM, MAP AND SECTION */

.contact-section {
    display: grid;
    grid-template-columns: 45% 50%;
    gap: 25px;

    margin: 0 auto;
    align-items: start;
}

.map iframe {
    width: 100%;
    height: 445px;
    border: 1.5px solid var(--accent1-color);
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

/* NAME AND EMAIL FIELDS SECTION */

.form-row {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    margin-bottom: 5px;
}

.form-row label {
    font-weight: bold;
    text-align: left;
}

.form-row input {
    width: 100%;
    padding: 8px;
    border: 1.5px solid var(--accent1-color);
    border-radius: 4px;
}

#name,
#email {
    padding: 10px;
    border-radius: 6px;
    font-size: 16px;
    margin-bottom: 6px;
}

/* MESSAGE PURPOSE SECTION*/

.message-purpose {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
}

.message-purpose div {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
}

.purpose-title {
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-align: left;
    color: #264653;
}

/*MESSAGE TEXTAREA SECTION*/

form textarea {
    width: 100%;
    padding: 4px;
    border-radius: 6px;
    font-size: 15px;
    resize: vertical;
    box-sizing: border-box;
    border: 1.5px solid var(--accent1-color);
}

/* SUSCRIPTION SECTION*/

.suscription {
    margin: 5px;
    text-align: center;
    font-size: 17px;
    font-style: italic;
}

/*BUTTON SECTION*/

button {
    padding: 10px;
    border: 1.5px solid var(--accent1-color);
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: var(--primary-color);
}

/* EMPLOYEE SECTION */

.employees img {
    width: 125px;
    height: auto;
    border-radius: 5%;
    border: 1px solid var(--accent1-color);
}

.employees h2 {
    grid-column: 1/-1;
    margin-bottom: 20px;
}

.employees {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 16px;
    text-align: center;
}

.employees figcaption {
    margin-top: 8px;
    font-weight: bold;
    color: var(--secondary-color);
}

/* //////NEW PAGE DESIGN CODE / index WEBPAGE CODE////// */

/* SIGN UP SECTION */

.section1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 40px;
    border-radius: 6px;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
}

.section1 h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
}

.section1 img {
    width: 50%;
    border-radius: 20px;
    margin-top: 70px;
    margin-left: 40px;
}

.form-in input {
    width: 100%;
    padding: 8px;
    border: 1.5px solid var(--accent1-color);
    border-radius: 4px;
}

/* CALL TO ACTION SECTION */

.section2 {
    padding: 5px;
    border-radius: 6px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    text-align: center;
}

.section2 p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-style: oblique;
    font-weight: bold;
}

.collage-image img {
    display: block;
    margin: 0 auto;
    width: 25%;
    height: 100px;
}

.section2 a {
    display: inline-block;
    padding: 12px 24px;
    font-weight: bold;
}

.section2 a:hover {
    transform: scale(1.05);
}

/* IMAGES WITH PURPOSE ANF OFFERING SECTION */

.offerings {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 16px;
}

.offerings img {
    width: 90%;
    height: auto;
    padding: 10px;
}

.offerings figcaption {
    padding: 10px 25px;
    font-family: sans-serif;
    font-style: oblique;
    font-size: 17px;
    text-align: center;
}