:root {
    --main-color: darkblue;
    --text-color: white;
    --border-color: black;
    --shadow-color: gray;
}

nav {
    background-color: var(--main-color);
    padding: 10px;
}

nav a {
    color: var(--text-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--main-color);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid var(--border-color);
    /* 1️⃣ */
    padding: 2px;
    box-shadow: 0 0 30px var(--shadow-color);
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}